doctype html
html
  head
    title= title
    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/stylesheets/style.css')    
    link(rel="stylesheet" href="/themes/BlueBeigeTheme.css")
    link(rel="stylesheet" href="/themes/jquery.mobile.icons.min.css")  

    //link(rel='stylesheet', href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css")
    // http://stackoverflow.com/questions/18861852/jquery-mobile-and-firefox-dont-play-well-together
    
    link(rel='stylesheet', href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css")
    
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    script(src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js")

body(onload='createAndUpdateUI()')
  div(data-role="page" data-theme="a")
      h1= title
      p Welcome to #{title}

      div(data-role="header" data-position="inline")
        h1 Basketball Subsitution

      div(data-role="content" data-theme="a")  
         
          div(id="buttonDiv" class="ui-content")
            input(type="button" class="ui-btn ui-corner-all ui-shadow" id="buttonPlayTime" value="Playing" onclick="updateTime()")
            //input(type="text" id="textPlayTime" value="0:00:00")
            p(id="textPlayTime") 00:00
            div(id="buttonGrid" class="ui-grid-d")
                div(class="ui-block-a" data-role="content" data-theme="a") Playing?
                div(class="ui-block-b") Name
                div(class="ui-block-c") Sub1
                div(class="ui-block-d") Sub2
                div(class="ui-block-e") Sub3

          //script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
          //script(src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js")
          
          
          script(src="javascripts/bballsub.js")
