doctype html
html
  head
    title= title
    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/stylesheets/style.css')    
    link(rel="stylesheet" href="/themes/BlueBeigeTheme.css")
    link(rel="stylesheet" href="/themes/jquery.mobile.icons.min.css")  

    //link(rel='stylesheet', href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css")
    // http://stackoverflow.com/questions/18861852/jquery-mobile-and-firefox-dont-play-well-together
    
    link(rel='stylesheet', href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css")
    
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    script(src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js")

body(onload='createAndUpdateUI()')
  div(data-role="page" data-theme="a")
      h1= title
      p Welcome to #{title}

      div(data-role="header" data-position="inline")
        h1 Basketball Subsitution

      div(data-role="content" data-theme="a")  
         
          div(id="buttonDiv" class="ui-content")
            input(type="button" class="ui-btn ui-corner-all ui-shadow" id="buttonPlayTime" value="Playing")
            //input(type="text" id="textPlayTime" value="0:00:00")
            p(id="textPlayTime") 00:00
            div(id="buttonGrid" class="ui-grid-d")
                div(class="ui-block-a" data-role="content" data-theme="a") Playing?
                div(class="ui-block-b") Name
                div(class="ui-block-c") Sub1
                div(class="ui-block-d") Sub2
                div(class="ui-block-e") Sub3

          //script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
          //script(src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js")
          
          
          script.
            function actionOn(name) {
                console.log("actionOn: " + name);

                // get references to both buttons
                var onButton = document.getElementById("button" + name + "On");
                var offButton = document.getElementById("button" + name + "Off");

                // set the style
                onButton.style.backgroundColor = "red";
                offButton.style.backgroundColor = "green";

                // enable/disable the buttons
                onButton.enabled = false;
                offButton.enabled = true;

                // save details in session storage
                //sessionStorage.name = Date();
                //var personObject = {'name': name, 'timeOn': Date()};
                // Store the object as a JSON String
                //localStorage.setItem('testObject', JSON.stringify(personObject));
            }

            var actionOffFunction = function actionOff(event) {
                console.log("actionOff: " + event.data.name);
                //event.stopPropagation();
                       // get references to both buttons
                /*var onButton = document.getElementById("button" + name + "On");
                var offButton = document.getElementById("button" + name + "Off");

                // set the style
                onButton.style.backgroundColor = "green";
                offButton.style.backgroundColor = "red";

                // enable/disable the buttons
                onButton.enabled = true;
                offButton.enabled = false;
                */
                // save details in session storage
                //sessionStorage.name = Date();
                //sessionStorage.
            };

            function actionPlaying(event) {
                console.log("actionPlaying: " + event.data.name);
            }

            var team1 =
            {
            "team": [
                {
                    "name": "Julia",
                    "playing": true,
                    "currentlyPlaying": false,
                    "totalPlayingTime": 5
                },
                {
                    "name": "Tegan",
                    "playing": true,
                    "currentlyPlaying": true,
                    "totalPlayingTime": 6
                },
                {
                    "name": "Emily",
                    "playing": true,
                    "currentlyPlaying": true,
                    "totalPlayingTime": 4
                },
                {
                    "name": "Zahli",
                    "playing": true,
                    "currentlyPlaying": false,
                    "totalPlayingTime": 7
                },
                {
                    "name": "Isabella",
                    "playing": false,
                    "currentlyPlaying": false,
                    "totalPlayingTime": 0
                }
                    ]
            };

            function sortTeam() {
            

              team1.team.sort(function(a, b)
              {
                if (a.playing > b.playing) {
                  return true;
                } else if (b.playing > a.playing) {
                 return false;
                } else if (a.currentlyPlaying > b.currentlyPlaying) {
                  return true;
                } else if (b.currentlyPlaying > a.currentlyPlaying) {
                 return false;
                } else if (a.totalPlayingTime > b.totalPlayingTime) {
                  return true;
                } else if (b.totalPlayingTime > a.totalPlayingTime) {
                 return false;
                }
              });

              console.log(team1);
            }

            function createAndUpdateUI() {
                "use strict";
                sortTeam();
                var team = team1.team
                for (var i = 0; i < team.length; i++) {
                    // TODO grid layout http://api.jquerymobile.com/grid-layout/
                    
                    // first column is the "Playing?" button
                    // check if already exists
                    if ( $("#checkPlay" + team[i].name ).length ) {
                        // it does exist so update
                    } else {
                        // is doesn't exist so create
                        $('#buttonGrid')
                            .append("<div id=\"ui-block-a" + team[i].name + "\" class=\"ui-block-a\">");
                            //.append("<input type=\"checkbox\"  id=\"checkPlay" + team[i].name + "\" value=" + team[i].name + ">");
                            //data-mini=\"true\"
                        $("#ui-block-a" + team[i].name)
                            .append("<label id=\"labelPlaying" + team[i].name + "\">")
                        $("#labelPlaying" + team[i].name)
                            .append("<input type=\"checkbox\"  id=\"checkPlay" + team[i].name +
                             "\" value=" + team[i].name + ">");
                        $("#checkPlay"+ team[i].name)
                            .click({ name:  team[i].name }, actionPlaying );
                    }

                    // second column is the "Name" button
                    // check if already exists
                    if ( $("#buttonName" + team[i].name ).length ) {
                        // it does exist so update
                    } else {
                        // is doesn't exist so create
                        $('#buttonGrid')
                            .append("<div id=\"ui-block-b" + team[i].name + "\" class=\"ui-block-b\">");
                            //.append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonName" + team[i].name + "\" value=" + team[i].name + ">");
                        $("#ui-block-b" + team[i].name)
                            .append("<input type=\"button\" data-theme=\"a\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonName" +
                                team[i].name + "\" value=" + team[i].name + ">")
                            //.append("<input type=\"text\" value=\"0:00\" id=\"playingTime\">");
                            .append('<p id="playingTime">0:00</p>');
                        $('#playingTime')
                            .css("float", "left");
                        $("#buttonName"+ team[i].name)
                            .click({ name:  team[i].name }, actionOffFunction )
                            .css( "float", "left");
                        if (team[i].playing) {
                            if (team[i].currentlyPlaying) {
                                $("#buttonName"+ team[i].name)
                                    .css( "background-color", "green" );
                            } else {
                                $("#buttonName"+ team[i].name)
                                    .css( "background-color", "orange" );
                            }
                        } else {
                            $("#buttonName"+ team[i].name)
                                .css( "background-color", "grey" );
                        }
                        
                    }

                    $('#buttonGrid')
                            .append("<div id=\"ui-block-c" + team[i].name + "\" class=\"ui-block-c\">")
                            .append("<div id=\"ui-block-d" + team[i].name + "\" class=\"ui-block-d\">")
                            .append("<div id=\"ui-block-e" + team[i].name + "\" class=\"ui-block-e\">");

                    // third, forth and fifth columns are for subsitutes and so only exist when a player is currently on
                    if (team[i].currentlyPlaying) {
                        // add possible subsitutes
                        for (var j = i, cnt = 0, added = 0; 
                              cnt < team.length && added < 3;
                              j = (j + 1)%team.length, cnt++) {
                            if (team[j].playing && !team[j].currentlyPlaying) {
                                // can be added as a subsistute
                                added++;
                                // The only reason for the "if" statement is to add it to the correct column (/grid/block) e.g. ui-block-c
                                if (added == 1) {
                                    $("#ui-block-c" + team[i].name)
                                        //.append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonSub\" value=" + team[j].name + ">");
                                        .append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonSub" +
                                            added + team[i].name + "\" value=" + team[j].name + ">");
                                    $("#buttonSub"+ added + team[i].name)
                                        .click({ name:  team[i].name, sub: team[j].name }, actionSwitchPlayers );
                                } else if (added == 2) {
                                    $("#ui-block-d" + team[i].name)
                                        //.append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonSub\" value=" + team[j].name + ">");
                                        .append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonSub" +
                                            added + team[i].name + "\" value=" + team[j].name + ">");
                                    $("#buttonSub"+ added + team[i].name)
                                        .click({ name:  team[i].name, sub: team[j].name }, actionSwitchPlayers );
                                } else if (added == 3) {
                                    $("#ui-block-e" + team[i].name)
                                        //.append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonSub\" value=" + team[j].name + ">");
                                        .append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"buttonSub" +
                                            added + team[i].name + "\" value=" + team[j].name + ">");
                                    $("#buttonSub"+ added + team[i].name)
                                        .click({ name:  team[i].name, sub: team[j].name }, actionSwitchPlayers );
                                } else {
                                    alert("Too many subsitutes added: " + added);
                                }
                            }
                        }
                    } else {
                        // not currently playing so no subsistutes need to be displayed
                        // TODO remove this else
                    }

                    if (team1.team[i].currentlyPlaying) {
                        //button(type="button" id= "button" + team1[i].name + "Off" onclick="actionOff(\""+ team1[i].name +"\")") team1[i].name
                        //var playButton = document.createElement('button');
                        //playButton.setAttribute('type','button');
                        //playButton.setAttribute('id',"button" + team1[i].name + "Off");
                        //playButton.setAttribute('value',team1[i].name);
                        //playButton.attachEvent('onclick',"actionOff(\""+ team1[i].name +"\")");

                        $("#buttonDiv")
                            .append("<div class=\"ui-grid-d\"") 
                            .append("<input type=\"button\" class=\"ui-btn ui-corner-all ui-shadow\" id=\"butOn" + team1.team[i].name + "\" value=" + team1.team[i].name + ">");
                        // Adding a click handler at the same time causes the click handler to be called for every
                        // button, when only one is clicked. Adding it afterwards fixes this problem.
                            //.click({ name:  team1.team[i].name }, actionOffFunction ); // Add a click handler
                            //.click({ name:  team1.team[i].name }, function (event) { alert (event.data.name); } ); // Add a click handler
                            //.click(function () { alert ("1"); } );
                        $("#butOn"+ team1.team[i].name)
                            .click({ name:  team1.team[i].name }, actionOffFunction );        
                        

                        //var buttonDiv = document.getElementById("buttonDiv")
                        //buttonDiv.appendChild(playButton);
                        //$( "buttonDiv" ).append(playButton)
                    }
                } 
            }

            function actionSwitchPlayers (event) {
                console.log("actionSwitchPlayers: player: " + event.data.name + ", sub: " + event.data.sub);
                // get 
                $("#buttonName"+ event.data.name)
                    .css( "background-color", "orange" );
                $("#buttonName"+ event.data.sub)
                    .css( "background-color", "green" );
                
                // find and set the currentlyPlaying to true for the sub
                subArr = jQuery.grep(team1.team, function( n, i ) {
                    return ( n.name === event.data.sub );
                });
                if (subArr.length == 0) {
                  alert("Couldn't find sub " + event.data.sub );
                } else if (subArr.length == 1) {
                  subArr[0].currentlyPlaying = true;
                } else {
                  alert("Found multiple (" + subArr.length + ") subs for " + event.data.sub );
                }

                // find and set the currentlyPlaying to false for the player
                playerArr = jQuery.grep(team1.team, function( n, i ) {
                    return ( n.name === event.data.name );
                });
                if (playerArr.length == 0) {
                  alert("Couldn't find player " + event.data.name );
                } else if (playerArr.length == 1) {
                  playerArr[0].currentlyPlaying = false;
                } else {
                  alert("Found multiple (" + playerArr.length + ") players for " + event.data.name );
                }


                // need to update the subs
                //$("#buttonSub").remove();
                $("[id^=buttonSub]").remove();
                createAndUpdateUI();
            }
            /*function actionOff() {
                console.log("actionOff: " + this.id);
            }*/
            // TODO
            // 1. jshint
            // 2. mocha
            // 3. heroku npm setup
            // 4. grunt for mocha and jshint
            // 5. update Readme
            // 6. code coverage